bench/thriftping/gen-cpp/
bench/thriftping/nullrpcc
bench/thriftping/nullrpcs
klibevent/.echo.ko.cmd
klibevent/.echo.mod.o.cmd
klibevent/.echo.o.cmd
klibevent/.echo_main.o.cmd
klibevent/.klibevent.o.cmd
klibevent/.static_router.ko.cmd
klibevent/.static_router.mod.o.cmd
klibevent/.static_router.o.cmd
klibevent/.static_router_main.o.cmd
klibevent/.tmp_versions/
klibevent/Module.symvers
klibevent/echo.ko
klibevent/echo.mod.c
klibevent/echo.mod.o
klibevent/echo.o
klibevent/echo_main.o
klibevent/klibevent.o
klibevent/modules.order
klibevent/static_router.ko
klibevent/static_router.mod.c
klibevent/static_router.mod.o
klibevent/static_router.o
klibevent/static_router_main.o
slick-tests/pounder
slick-tests/random.trace
slick-tests/static_router
slick-tests/thriftpingrouter
slick-tests/ttcp
thrift/forwarder-client/forwarder/__init__.pyc
*.mod.c
*.mod.o
*.pyc
*.o
*.cmd
*.tmp_versions
*.ko
modules.order
Module.symvers
bench/deadend/deadend
thrift/forwarder-userland/forwarder